@import "tailwindcss";

@theme {
	--font-sans: "Public Sans", sans-serif;

	--color-cream: #F8F9FA;
	--color-dark: #1C1418;
	--color-text-main: #262626;
	--color-text-muted: #49546A;
	--color-accent: #466BFB;
}

body {
	background-color: var(--color-cream);
	color: var(--color-text-main);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: var(--font-sans);
}
