@import "tailwindcss";

@theme {
	--font-serif: "EB Garamond", serif;
	--font-sans: "Inter", sans-serif;

	--color-cream: #F3F3EF;
	--color-dark: #1C1C1C;
	--color-text-main: #111111;
	--color-text-muted: #666666;
}

body {
	background-color: var(--color-cream);
	color: var(--color-text-main);
	font-family: var(--font-serif);
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
